.statPerso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -180px;
    margin-right: 100px;
    margin-top: 240px;

}

@media screen and (max-width: 1740px) {
    .statPerso {
        margin-left: -50px;
    }
}

@media screen and (min-width: 2180px) {
    .statPerso {
        margin-left: -280px;
    }
}

.statKey {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #f5f5f5;
    margin: 33px;
    padding: 16% 9% 16% 5%;
    border-radius: 10px;
}

.iconeKey {
    font-size: 30px;
    padding: 6% 5px 6% 5px;
    width: 25%;
    border-radius: 10px;
    margin-left: 20px;
}

.statKey:nth-child(1) .iconeKey {
    color: rgb(255, 0, 0);
    background-color: #fddada;
}

.statKey:nth-child(2) .iconeKey {
    color: #0099ff;
    background-color: #caeaff;
}

.statKey:nth-child(3) .iconeKey {
    color: rgb(255, 196, 0);
    background-color: rgb(252, 234, 174);
}

.statKey:nth-child(4) .iconeKey {
    color: rgb(255, 0, 93);
    background-color: rgb(255, 209, 226);
}


.textKey {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    text-wrap: wrap;
}

.textDataKey {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.textP {
    font-weight: 500;
    color: grey;
}


@media (max-width: 800px) {
    .statPerso {
      left: 50%; /* Ajustez selon le besoin */
      top: 10%; /* Ajustez selon le besoin */
      width: 30%; /* Augmente la largeur pour empêcher la compression verticale */
    }
  }