* {
  font-family: 'roboto', sans-serif;
  margin: 0;
}

.navContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.navH {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  align-items: center;
}

.logo {
  object-fit: cover;
  width: 12%;
}

.navTitle {
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-right: 60px;
  text-wrap: wrap;
}

.mainContainer {
  display: flex;
}

.navV {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  width: 100px;
  top: 100%;
  background-color: rgb(0, 0, 0);
}

@media (min-width: 1450px) {
  .navV {
    height: 93vh;
  }
}

.iconContain {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.iconeWeb {
  margin: 15px;
}

.copyright {
  top: 80%;
  display: flex;
  transform: rotate(-90deg);
  color: rgb(255, 255, 255);
  width: 100%;
  text-wrap: nowrap;
}




/* WEBSITE DATA SETTINGS  */



.superStatsContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 90%;
}

@media (min-width: 1450px) {
  .superStatsContainer {
    flex-direction: row-reverse;
    margin-left: 45px;
  }
}

.statsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

@media (min-width: 1450px) {
  .statsContainer {
    margin-top: 20px;
  }
}

.helloText {
  margin-left: 45px;
  color: black;
  font-weight: 500;
  font-size: 50px;
}

@media (min-width: 1450px) {
  .helloText {
    margin-top: 20px;
  }
}

.texteRouge {
  color: red;
}

.helloText2 {
  margin-left: 45px;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top: 10px;
}

@media (min-width: 1450px) {
  .helloText2 {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.statLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}