.AverageContain {
    color: #ffb1b1ad;
    background-color: #ff0000;
    border-radius: 10px;
    display: flex;
    position: relative;
    width: 26%;
    margin: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.chartverage-header {
    position: absolute;
    font-size: 14px;
    width: 50%;
    text-wrap: wrap;
    top: 10%;
    right: 30%;
}

/* Style des axes et de la grille */
.recharts-cartesian-axis-tick-line,
.recharts-cartesian-axis-line {
    stroke: #ff0000;
}

.recharts-tooltip-cursor {
    fill: rgba(255, 255, 255, 0.2);
}

/* Style du point actif */
.recharts-dot-active {
    stroke: #ffffff;
    fill: #ffffff;
}

/* Style de la légende de l'infobulle */
.recharts-tooltip-item {
    color: #ffffff;
}

.custom-tooltip {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    text-align: left;
    text-wrap: nowrap;
    width: 45px;
}

.custom-tooltip .label {
    margin: 0;
    color: #000000;
    font-weight: bold;
}